$html-bg: papayawhip;
$body-bg: whitesmoke;
$font-color: #000;
$inverse-font-color: #fff;
$main-bg: #fff;
$header-color: #226699;
$button-color: #226699;
$hero-color: rgba(136, 136, 136, 0.5);
$border-color: #000;
$shadow-color: rgba(136, 136, 136, 0.5);
$link-color: #226699;
$link-hover: #d08504;
$link-active: orangered;
$remove-button: orangered;
$go-button: limegreen;
$highlight: #b3b3b3;

$large: 800px;