.student__main .h2 {
  background-color: $html-bg;
  color: $link-active;
  text-shadow: 2px 2px 5px $shadow-color;
}

.student__table {
  border: 1px solid $shadow-color;
  font-size: clamp(0.6rem, 3vw, 1.2rem);
  min-width: 100%;
  border-collapse: separate;
  table-layout: fixed;
}

.student__thead {
  background-color: $html-bg;
}

.student__th,
.student__td {
  border: 1px solid $shadow-color;
  padding: 0.25rem;
}

.student__td img{
  max-width: 50px;
  max-height: 50px;
}

.student__p {
  background-color: $html-bg;
  width: 100%;
  padding: 0.5rem;
}


/* // UPDATE SECTION */
.update__section {
  box-shadow: 0px 0px 5px $shadow-color;
  width: clamp(100px, 90vw, 650px);
  margin: 1rem auto;
}

.update__section {
  flex-direction: column;
}

.update__form details {
  box-shadow: 0px 0px 5px $shadow-color;
  padding: 0.5rem;

  input {
    width: 100%;
    margin-bottom: 0.25rem;
    display: block;
  }
}

.update__form summary {
  cursor: pointer;
  font-weight: bold;
}

.update__form summary::after {
  content: "+";
  float: right;
}

.update__form details[open] {
  background-color: $html-bg;
}

.update__form details[open] summary::after {
  content: "-";
}